.header-container {
    display: flex;
    align-items: center;
    border: solid;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-container {
    display: inline-block;
     border: solid;
}

.nav-container {
    display: inline-block;
     border: solid;
}